html
  head
    title= pageTitle 
  body
    table
      thead
        tr 
          th id
          th Name 
          th Visits
      tbody
        each visitor in visitors 
          tr 
            td= visitor._id
            td= visitor.name
            td= visitor.count